<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.CarMapper" >
  <resultMap id="BaseResultMap" type="com.jk.pojo.Car" >
    <constructor >
      <idArg column="car_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="car_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="car_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="dpratio" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    car_id, car_name, car_type, price, dpratio, remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where car_id = #{carId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where car_id = #{carId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.pojo.Car"  useGeneratedKeys="true" keyProperty="car_id">
    insert into car (car_name, car_type,
      price, dpratio, remark, 
      create_time, update_time)
    values (#{carName,jdbcType=VARCHAR}, #{carType,jdbcType=INTEGER},
      #{price,jdbcType=DOUBLE}, #{dpratio,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.jk.pojo.Car" useGeneratedKeys="true" keyProperty="car_id" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="carName != null" >
        car_name,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="dpratio != null" >
        dpratio,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="dpratio != null" >
        #{dpratio,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.pojo.Car" >
    update car
    <set >
      <if test="carName != null" >
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="dpratio != null" >
        dpratio = #{dpratio,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.pojo.Car" >
    update car
    set car_name = #{carName,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      dpratio = #{dpratio,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where car_id = #{carId,jdbcType=INTEGER}
  </update>
</mapper>